<div class="table-container" >
    <div class="contenedor-busqueda">
      <div class="left-aligned ">
        <button mat-button class="btn-volver" (click)="volverGeneral()">
          <mat-icon>navigate_before</mat-icon> <span class="label-volver">Volver a {{nombreRetorno}}</span>
        </button>
      </div>

      <mat-form-field id="search-form" class="right-aligned"  >
        <input matInput (keyup)="applyFilter($event)" [(ngModel)]="texto" placeholder="Ingresa un término de búsqueda" #input>
        <button *ngIf="mostrarLupa" matSuffix mat-icon-button aria-label="Limpiar" (click)="borrartexto()">
          <mat-icon>close</mat-icon>
        </button>
        <button *ngIf="!mostrarLupa" matSuffix mat-icon-button aria-label="Buscar">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="tablaFertilizantes" >
   
          <!-- STATUS Column -->
          <ng-container matColumnDef="STATUS">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Estado </th>
            <td mat-cell *matCellDef="let row"> 
              <ng-container *ngIf="row.STATUS == 'Activo';else desactivado" >
                <span class="item-tabla">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM8 15L3 10L4.41 8.59L8 12.17L15.59 4.58L17 6L8 15Z" fill="#3E691A"/>
                  </svg> 
                  <span class="table-texto">{{row.STATUS}}</span>
                </span>                
              </ng-container>
              <ng-template #desactivado>
                <span class="item-tabla">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM11 15H9V13H11V15ZM11 11H9V5H11V11Z" fill="#A3A329"/>
                  </svg> <span class="table-texto">{{row.STATUS}}</span>
                </span>   
              </ng-template>
            </td>
          </ng-container>
      
          <!-- FERTILIZERCODE Column -->
          <ng-container matColumnDef="FERTILIZERCODE" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-column" >Código</th>
            <td mat-cell *matCellDef="let row" class="hide-column" > {{row.FERTILIZERCODE}} </td>
          </ng-container>
          
          <!-- DESCRIPTION Column -->
          <ng-container matColumnDef="DESCRIPTION" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Descripción</th>
            <td mat-cell *matCellDef="let row" > {{row.DESCRIPTION}} </td>
          </ng-container>
      
          <!-- MESUREDESCRIPTION Column -->
          <ng-container matColumnDef="MESUREDESCRIPTION" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-column">Unidad</th>
            <td mat-cell *matCellDef="let row" class="hide-column"> {{row.MESUREDESCRIPTION}} </td>
          </ng-container>

        <!-- PRICE Column -->
        <ng-container matColumnDef="PRICE" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-column" >Precio Referencial($)</th>
            <td mat-cell *matCellDef="let row" class="hide-column" > {{row.PRICE}} </td>
            </ng-container>

          <!-- ACCCIONES Column -->
          <ng-container matColumnDef="ACCIONES">
            <th class="col-acciones" mat-header-cell *matHeaderCellDef mat-sort-header >Acciones</th>
            <td class="col-acciones" mat-cell *matCellDef="let row"> 
              <mat-menu #userMenu="matMenu" xPosition="before" class="menu-Fertilizantes" >
                
                  <ng-container *ngIf="row.STATUS == 'Inactivo';else desactivado" >
                    <button mat-menu-item (click)="goEstado( row.STATUS , row.DESCRIPTION , row.FERTILIZERID )" >
                    <mat-icon>
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM8 15L3 10L4.41 8.59L8 12.17L15.59 4.58L17 6L8 15Z" fill="#3E691A"/>
                      </svg>
                    </mat-icon>
                    Activar
                  </button>
                  </ng-container>
                  <ng-template #desactivado>
                    <button mat-menu-item (click)="goEstado( row.STATUS , row.DESCRIPTION , row.FERTILIZERID )" >
                    <mat-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                      <path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM11 15H9V13H11V15ZM11 11H9V5H11V11Z" fill="#A3A329"/>
                      </svg> 
                    </mat-icon> Desactivar 
                  </button>
                  </ng-template>
                
                <button *ngIf="row.STATUS == 'Activo'" mat-menu-item (click)="goEditar( row.FERTILIZERID )" ><mat-icon>edit</mat-icon> Editar</button>
                <button *ngIf="row.STATUS == 'Activo'" mat-menu-item (click)="goNutrients( row.DESCRIPTION , row.FERTILIZERID )" >
                    <mat-icon><img src="../../../../assets/img/icon-general/nutrientes.svg" alt=""></mat-icon> Nutrientes
                </button>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sin coincidencias para "{{input.value}}"</td>
          </tr>
        </table>         
      
        <mat-paginator class="paginador-tabla" [pageSizeOptions]="[ 10 ]" aria-label="Selecciona una página" ></mat-paginator>
      </div>

      <button class="ExtendedFab" mat-fab extended color="accent" (click)="goNewFertilizer()">
        <mat-icon class="iconNuevo">add</mat-icon>
        <div class="LabelText">Nuevo</div>
      </button>

</div>
<app-loading *ngIf="!mostrarTabla"></app-loading>