<ng-container *ngIf="formularioListo;else cargando" >
    
    <!-- Formulario insert -->
    <div class="form-container">
        <h2 class="form-title">{{titulo}}</h2>
        <div class="form-fields">
            <mat-card>
    
                <mat-card-content>
                    <form class="cost-center-valve-card" [formGroup]="costCenterValveForm" > 
                        <mat-form-field appearance="outline" [style.display]="'none'">
                            <mat-label>Cod registro Valvula centro cossto</mat-label>
                            <input  matInput formControlName="costcValveIdReg"  [readonly]="true"  >
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" [style.display]="'none'">
                            <mat-label>Cod registro Centro Costo</mat-label>
                            <input  matInput formControlName="costCenterId"  [readonly]="true"  >
                        </mat-form-field>
                            
                        <!-- Validaciones VALVEID  -->
                        <mat-form-field appearance="outline" >
                            <mat-label>Válvula</mat-label>
                            <mat-select formControlName="valveId" (selectionChange)="changeValve()"  >
                                <mat-option *ngFor="let item of valveOpciones" [value]="item.VALVEID" >{{item.DESCRIPTION}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="valveId?.errors?.['required'] && valveId?.touched ">
                                El campo Unidad del área es obligatorio.
                            </mat-error>
                        </mat-form-field>

                        <!-- Validaciones CAMPAIGNID  -->
                        <mat-form-field appearance="outline"  >
                            <mat-label>Campaña</mat-label>
                            <mat-select formControlName="campaign" >
                                <mat-option *ngFor="let item of campaignOpciones" [value]="item.CAMPAIGNID">{{item.DESCRIPTION}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="campaign?.errors?.['required'] && campaign?.touched ">
                                El campo Campaña es obligatorio.
                            </mat-error>
                        </mat-form-field>
    
                        <!-- Validaciones INICIO  -->
                        <mat-form-field appearance="outline" >
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput  [matDatepicker]="dp3" formControlName="startDate"  [readonly]="true">
                            <mat-datepicker-toggle matIconSuffix matSuffix  [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false" color="primary"></mat-datepicker>
                        </mat-form-field>

                        <!-- Validaciones FIN  -->
                        <mat-form-field appearance="outline" [style.display]="'none'">
                            <mat-label>Fin (opcional)</mat-label>
                            <input matInput  [matDatepicker]="dp1" formControlName="finishDate" [readonly]="true" >
                            <mat-datepicker-toggle matIconSuffix matSuffix  [for]="dp1"></mat-datepicker-toggle>
                            <button mat-icon-button matSuffix *ngIf="finishDate?.value != ''" (click)="limpiarFecha()">
                                <mat-icon>clear</mat-icon>
                                </button>
                            <mat-datepicker #dp1 disabled="false" color="primary" ></mat-datepicker>
                        </mat-form-field>    
                        
                        <!-- Validaciones MESUREID -->
                        <mat-form-field appearance="outline" >
                            <mat-label>Unidad del área</mat-label>
                            <mat-select formControlName="mesureId" >
                                <mat-option *ngFor="let item of mesureOpciones" [value]="item.MESUREID">{{item.DESCRIPTION}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="mesureId?.errors?.['required'] && mesureId?.touched ">
                                El campo Unidad del área es obligatorio.
                            </mat-error>
                        </mat-form-field>

                        <!-- Validaciones AREA  -->
                        <mat-form-field appearance="outline" >
                            <mat-label>Área</mat-label>
                            <input  matInput formControlName="area"   maxlength="11" appNumberDecimalFour>
                            <mat-error *ngIf="area?.errors?.['required'] && area?.touched ">
                                El campo Área es obligatorio.
                            </mat-error>
                            <mat-error *ngIf="area?.errors?.['pattern']  && area?.touched ">
                                El campo Área solo puede incluir caracteres números.
                            </mat-error>
                        </mat-form-field>
                    
                        <!-- Alinear botones a la derecha -->
                        <mat-card-actions class="cost-center-valve-botonera" >
                            <button mat-raised-button class="btn-cost-center-valve-cancelar" (click)="goCancelar()" >Cancelar</button>
                            <button mat-raised-button class="btn-cost-center-valve-confirmar" color="primary" [disabled]="costCenterValveForm.invalid" (click)="ejecutarFormulario()" >Confirmar</button>
                        </mat-card-actions> 
    
                    </form>
                </mat-card-content>
    
            </mat-card>
        </div>        
    </div>

</ng-container>
<ng-template #cargando>
    <app-spinner></app-spinner>
</ng-template>

 