<div class="table-container" >
    <div class="contenedor-busqueda">
      <div class="left-aligned ">
        <button mat-button class="btn-volver" (click)="volverGeneral()">
          <mat-icon>navigate_before</mat-icon> <span class="label-volver">Volver a {{nombreRetorno}}</span>
        </button>
      </div>
    </div>

    <div class="contenedor-list">
        <mat-list>
            <ng-container *ngFor="let item of dataNutrients">
                <mat-list-item class="item-list">
                    <div class="switch">
                        <mat-slide-toggle color="primary" [id]="'switch_'+ item.NUTRIENTID" [checked]="item.STATUS == '1'"  (change)="setSwitch( item.NUTRIENTID)" ></mat-slide-toggle>
                        <span>{{ item.DESCRIPTION }}</span>
                    </div>
                    <div class="icon-threshold" [style.display]="item.STATUS == '1' ? '' : 'none'" [id]="'phenology_'+ item.NUTRIENTID" >
                      <button mat-icon-button  (click)="getTablePhenology( item.NUTXCULTID )"><mat-icon><img src="../../../../assets/img/icono-nav/general.png" alt=""></mat-icon> </button>        
                    </div>
                    <div class="inputs">
                        <mat-form-field color="primary" >
                            <mat-label>Límite menor (%)</mat-label>
                            <input  matInput [id]="'LOW_'+ item.NUTRIENTID" [value]="item.LOWLIMIT"  maxlength="5" disabled  appNumberDecimal >
                        </mat-form-field>
                        <mat-form-field color="primary" >
                            <mat-label>Límite mayor (%)</mat-label>
                            <input  matInput [id]="'HIGH_'+ item.NUTRIENTID" [value]="item.HIGHLIMIT"  maxlength="5" disabled appNumberDecimal >
                        </mat-form-field>
                        <button mat-icon-button aria-label class="icon-edit" [id]="'edit_'+ item.NUTRIENTID" [disabled]="item.STATUS != '1'" ><mat-icon  (click)="toggleInputs(item)"  >edit</mat-icon></button> 
                        <button mat-icon-button class="icon-check"  [style.display]="'none'" [id]="'check_'+ item.NUTRIENTID" ><mat-icon (click)="toggleInputs(item)" >check</mat-icon> </button>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
            

        </mat-list>
        
          <!-- <div matListItemAvatar class="switch-item" matListItemIcon><mat-slide-toggle></mat-slide-toggle></div>
            <div matListItemTitle>{{folder.DESCRIPTION}}</div>
            <div matListItemLine >{{folder.HIGHLIMIT}}</div>
         -->
<!--
        <ng-container *ngFor="let item of dataNutrients">
            <mat-list-item>
              <div class="switch">
                <mat-slide-toggle></mat-slide-toggle>
              </div>
              <div class="title-icon">
                <mat-icon>icono_aqui</mat-icon>
                <span>{{ item.DESCRIPTION }}</span>
              </div>
              <div class="center-icon">
                <mat-icon>icono_aqui</mat-icon>
              </div>
              <div class="inputs">
                <input type="text" [(ngModel)]="item.HIGHLIMIT" [disabled]="true" />
                <input type="text" [(ngModel)]="item.LOWLIMIT" [disabled]="true" />
                <mat-icon (click)="toggleInputs(item)">icono_aqui</mat-icon> 
              </div>
            </mat-list-item>
        </ng-container>
        -->
    </div>


</div>
<app-loading *ngIf="!mostrarTabla"></app-loading>